<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="{{bannerBase64}}">
  <p padding>{{welcomeText}}</p>
  <ion-list padding *ngIf="currentUser">
    <ion-list-header>
      User Info
    </ion-list-header>

    <ion-item>
      <ion-row>
        <ion-col>Full name:</ion-col><ion-col col-7>{{currentUser.firstName}} {{currentUser.lastName}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>User id:</ion-col><ion-col col-7>{{currentUser.id}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="currentUser.friends">
      <ion-row>
        <ion-col>Friends:</ion-col><ion-col col-7>{{currentUser.friends.length}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="currentUser.blogs">
      <ion-row>
        <ion-col>Blogs:</ion-col><ion-col col-7>{{currentUser.blogs.length}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button color="light" block (click)="presentLogPage()">
      <ion-icon name="book" class="icon-left"></ion-icon>
      Show anonymous logs
    </button>
    <button ion-button color="dark" block (click)="logOut()">
      <ion-icon name="lock" class="icon-left"></ion-icon>
      Log out
    </button>
  </div>
</ion-content>
